.buttonList > button {
    margin-right: 15px;
}

.innerCount {
    display: inline-block;
    margin-right: 8px;
}

.withOuterCount {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    transform: translateY(-50%);
    margin-right: 15px;
}
